---
interface Props {
  title: string;
  description?: string;
  image?: string;
}

const {
  title,
  description = "Anton Sten - Product designer",
  image = '/images/og-image.png'
} = Astro.props;
const currentUrl = Astro.url.toString();
const ogImageUrl = new URL(image, currentUrl).href;
---

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description" content={description} />
  
  <!-- Favicon -->
  <link rel="icon" type="image/webp" href="/favicon.webp" />
  <link rel="icon" type="image/png" href="/favicon.png" />
  <link rel="shortcut icon" href="/favicon.png" />
  <link rel="apple-touch-icon" href="/favicon.png" />
  
  <link rel="alternate" type="application/rss+xml" title="RSS Feed" href="/rss.xml" />
  <link rel="alternate" type="application/atom+xml" title="Atom Feed" href="/rss.xml" />
  <title>{title}</title>

  <!-- Open Graph / Facebook -->
  <meta property="og:type" content="website" />
  <meta property="og:title" content={title} />
  <meta property="og:description" content={description} />
  <meta property="og:url" content={currentUrl} />
  <meta property="og:image" content={ogImageUrl} />
  <meta property="fb:app_id" content="966242223397117" />
  
  <!-- Twitter -->
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:title" content={title} />
  <meta name="twitter:description" content={description} />
  <meta name="twitter:image" content={ogImageUrl} />

  <!-- fathom - beautiful, simple website analytics -->
  <script src="https://cdn.usefathom.com/script.js" data-site="kuencgtc" defer></script>
  <!-- / fathom -->
</head> 